
/*
==================================================
GENERALES
==================================================
*/

body .app * {
    border: 1px solid tomato;
}

html,
body {
    font-size: 1rem;
    font-family: "Helvetica", Arial, sans_serif;
    line-height: 1.5rem;
    color: #333;
    min-height: 100vh;
    width: 90%;
    margin: 2rem auto;
}



/*
==================================================
TIPO
==================================================
*/


/*
==================================================
FRAMEWORK
==================================================
*/
button {

}
button.primary {

}




/*
==================================================
LAYOUT
==================================================
*/
.app {

}
.app .header {

}
.app .aside {

}
.app .main {

}




/*
==================================================
COMPONENTS
==================================================
*/
.header {

}
